body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    height: 100vh;
    background: linear-gradient(to right, #ffa4a4, #8f6363);
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    font-family: 'Poppins';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    width: 95%;
    height: 19%;
    position: absolute;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

nav {
    margin-left: auto; /* Menambahkan margin-left auto */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

nav ul li a:hover {
    background-color: #5CA3AC;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content {
    text-align: center;
    color: rgb(0, 0, 0);
    
}

.selamatdatang {
    color: #D7124D;

}

.textmari{
    color: #000000;
}

.kamerakanan {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kamerakanan img {
    max-width: 50%;
    height: auto;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
}

.buttons button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #cce2cd3a;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.buttons button:hover {
    background-color: #5CA3AC;
    transform: translateY(-2px);
}

.gabung {
    margin-left: auto; 
}